<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- Basic -->
    <title><%- page.title %> | <%- config.title %></title>
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="//valine.js.org">
    <link rel="dns-prefetch" href="//cdn.jsdelivr.net">
    <link rel="dns-prefetch" href="//fonts.loli.net">
    <link rel="dns-prefetch" href="//cdn1.lncld.net">
    <link rel="dns-prefetch" href="//gravatar.loli.net">
    <link rel="dns-prefetch" href="//i.loli.net">
    <link rel="dns-prefetch" href="//gstatic.loli.net">
    <meta name="description" content="<%- config.description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="/script/manifest.json">
    <meta name="theme-color" content="#02467E">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon" href="/images/icons/apple-touch-icon-152x152.png">
    <meta name="msapplication-TileImage" content="/images/icons/msapplication-icon-144x144.png">
    <meta name="msapplication-TileColor" content="#000000">
    <% if(theme.favicon) { %>
      <link rel="shortcut icon" href="<%- theme.favicon %>">
      <link rel="icon" href="<%- theme.favicon %>">
    <% } %>
    <!-- Social -->
    <meta property="og:type" content="article">
    <meta property="og:url" content="<%- config.url %>">
    <meta property="og:title" content="<%- page.title %> | <%- config.title %>">
    <meta property="og:description" content="<%- page.description %>">
    <meta property="og:image" content="<%- config.logo && config.logo.desktop || theme.logo.desktop %>">
    <meta name="twitter:site" content="<%- theme.social_links.twitter %>">
    <meta name="twitter:title" content="<%- page.title %> | <%- config.title %>">
    <meta name="twitter:description" content="<%- page.description %>">
    <meta name="twitter:image" content="<%- config.logo && config.logo.desktop || theme.logo.desktop %>">

    <!-- Misc -->
    <meta name="google-site-verification" content="" />

    <% 
      var css_bundle = config.css_bundle || theme.css_bundle;
    %>
    <% if (css_bundle) {  %>
      <link rel="stylesheet" href="<%= url_for('/style/bundle-' + css_bundle + '.css', { relative: true }) %>">
    <% } else { %>
      <link rel="stylesheet" href="<%= url_for('/style/style.css', { relative: true }) %>">
    <% } %>
    <script src='//unpkg.com/hanabi' ></script>
    <!--custome-->

    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.js"></script>

  </head>
  <body class="">
    <%- body %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/smooth-scroll@12.1.5/dist/js/smooth-scroll.min.js"></script>

    <script>
      // Used by the main.js script below.
      docsConfigRoot = '<%- config.root %>';
    </script>
    <script src="<%= url_for('/script/main.js', { relative: true }) %>"></script>
    <script src="<%= url_for('/script/highlight.js', { relative: true }) %>"></script>

    <script type="text/javascript" src="//cdn.jsdelivr.net/fastclick/1.0.6/fastclick.min.js"></script>

    <% if (theme.apis && theme.apis.ga) { %>
      <script>
        // Google analytics
        ;(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '<%- theme.apis.ga %>', 'auto');
        ga('send', 'pageview');
      </script>
    <% } %>

    <% if (theme.apis && theme.apis.baidu ){ %>
      <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "//hm.baidu.com/hm.js?<%- theme.apis.baidu %>";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
      </script>
    <% } %>

    <!-- search box -->
    <% if (theme.apis && theme.apis.docsearch && theme.apis.docsearch.apiKey ) { %>
      <script type="text/javascript" src="//cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
    <% } %>

    <% if (theme.apis && theme.apis.swiftype) { %>
      <script>
        ;(function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
        (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
        e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
        })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');
        _st('install','<%- theme.apis.swiftype %>','2.0.0');
      </script>
    <% } else if (theme.apis && theme.apis.docsearch && theme.apis.docsearch.apiKey ) { %>
      <script>
        ['desktop'].forEach(function(type) {
          var search = docsearch({
            apiKey: '<%- theme.apis.docsearch.apiKey %>',
            <%#
              A custom deployment, directly through Algolia, requires the 'appId'.  This is useful
              for testing, but is not necessary when using their free Docsearch service.
            %>
            <% if (theme.apis.docsearch.appId) { %>
              appId: '<%- theme.apis.docsearch.appId %>',
            <% } %>
            indexName: '<%- theme.apis.docsearch.indexName %>',
            inputSelector: '#' + type + '-search-input',
            autocompleteOptions: {
              dropdownMenuContainer: '.wrapper-' + type + '-search-results',
              debug: true
            },
            algoliaOptions: {
              hitsPerPage: 20
            }
          }).autocomplete;

          var sidebar = document.querySelector('.sidebar-content');
          search.on('autocomplete:opened', function() {
            sidebar.classList.add('searching');
          });
          search.on('autocomplete:closed', function() {
            sidebar.classList.remove('searching');
          });
          search.on('autocomplete:updated', function() {
            if (search.val() === '') {
              search.autocomplete.close();
            }
          });
        });
      </script>
    <% } %>

    <% if (config.redirects) { %>
      <script>
        var REDIRECTS = <%- JSON.stringify(config.redirects, 0, 2) %>;

        function redirect() {
          // Support redirects of the form /path#hash
          var locationKey = location.pathname + location.hash;
          if (REDIRECTS[locationKey]) {
            location.replace(location.origin + '/' + REDIRECTS[locationKey]);
          }

          // Support redirects of the form #hash (works for any path)
          var hashKey = location.hash;
          if (REDIRECTS[hashKey]) {
            location.replace(location.origin + '/' + REDIRECTS[hashKey]);
          }
        }

        // Redirect now
        redirect();

        // Redirect on hash change
        window.onhashchange = redirect;
      </script>
    <% } %>
    
  </body>
</html>
