  <%
    var githubUrl =
      'https://github.com/' +
      'ourfor/diary_hexo' +
      '/tree/' +
      // If on a version, use the `version-X` branch, not `master`.
      (config.version ? 'version-' + config.version : 'master') +
      '/' +
      (config.content_root || 'source') +
      '/' +
      page.path.replace(/\.html$/, '.md');
  %>

  <div class="nav <%- config.nav_class || theme.nav_class %>">
    <div class="nav-group left">
      <div class="nav-item mobile-button js-sidebar-toggle show-mobile">
        <span class="icon-menu"></span>

      </div>
      <div class="nav-item">

        <% logo = config.logo || theme.logo %>
        <a class="logo-wrapper" href="/" title="<%- logo.title %> <%- logo.subtitle %>" <%- logo.target && 'target=' + logo.target %> >
          <img src="<%- relative_url(page.path, logo.nav_mobile) %>" alt="<%- logo.title %>" class="logo"/>
          <% if (logo && logo.subbrand) { %>
            <img src="<%- relative_url(page.path, logo.subbrand) %>" class="logo-subbrand" alt="<%- logo.subtitle %>"/>
          <% } else { %>
            <span><%- logo && logo.subtitle %></span>
          <% } %>
        </a>
      </div>
    </div>




    <style type="text/css">
            html,body{font-size: 14px;font-family: "微软雅黑";text-align: left;width: 100%;height: 100%;min-height: 100%;border:0;line-height: none;}
            p{border: 0;margin: 0;padding: 0;line-height: none;}
            body{padding:0px; margin:0px ;}
            .footer_cust{text-align: left;position:relative;}
            
        </style>

        <style type="text/css">
          blockquote {
              margin: 0;
              padding: 0;
          }

          blockquote {
              padding: 13px 13px 21px 15px;
              margin-bottom: 18px;
              font-family:georgia,serif;
              font-style: italic;
          }
          blockquote:before {
              content:"\201C";
              font-size:60px;
              margin-left:-30px;
              font-family:georgia,serif;
              color:#990073;
          }
          blockquote p {
              font-size: 14px;
              font-weight: 300;
              line-height: 18px;
              margin-bottom: 0;
              font-style: italic;
          }
          
          </style>



    <div class="nav-group right">
      <div class="nav-item ">
        <% 
          var path = page.path;
          var isEN = path.indexOf('en') == 0; 
          var LINK = isEN ? path.replace('en','') : '/en/'+path;
        %>
        <a class="link" href="https://ourfor.top" >
          <span><a href="https://ourfor.top">🥝🍌️Blog🍓️🍎️</a></span>
        </a>
      </div>
      <% _.each(config.nav || theme.nav, function (link, title) { %>
        <div class="nav-item show-desktop <%- link.active && 'active' %> <%- link.separator && 'separator' %>">
          <a class="link" href="<%- link.url || link %>" <%- link.target && 'target=' + link.target %> >
            <span><%- __(title) %></span>
          </a>
        </div>
      <% }) %>
    </div>
  </div>

  <%- partial('partials/sidebar') %>
    <div class="content">

      <div class="header-content">
        <div class="header-wrapper">
          <div class="title-wrapper">
            <h1 class="title-page">
              <%- page.title %>
            </h1>
            <% if (page.description) { %>
              <div class="subtitle-page">
                <%- page.description %>
              </div>
              <% } %>
          </div>

          <div class="page-actions">
            <div class="actions-group">
              <a class="btn tertiary small round lowercase" href="<%- githubUrl %>" target="_blank">
                <span class="icon-github"></span>
                <span><%- __('Edit') %></span>
              </a>
              <% if (page.discourseTopicId) { %>
                <a class="btn tertiary small round lowercase" href="https://forums.meteor.com/t/<%- page.discourseTopicId %>">
                  <span class="icon-comment"></span>
                  <span>Discuss</span>
                </a>
              <% } %>
              <% if (config.social_links && config.social_links.slackInvitePage) { %>
                <a class="btn tertiary small round lowercase" href="<%- config.social_links.slackInvitePage %>">
                  <img src="<%- relative_url(page.path, 'images/slack.png') %>" style="width: 12px; margin: 0 3px -2px -3px;" />
                  <span>Discuss on Slack</span>
                </a>
              <% } %>
            </div>
          </div>
        </div>
      </div>



      <div class="content-wrapper">
        <div class="document-formatting">
        <!--fix table 使用标签<table class="class">需要额外加代码，-->
          <%

    page.content = page.content.replace(/<img([^>]+)>/g, function(img) {
        var src = img.replace(/<img.+src(="([^"]+)")*.+>/, function($1, $2, $3) {
            return $3;
        });
        var title = img.replace(/<img.+title(="([^"]+)")*.+>/, function($1, $2, $3) {
            return $3;
        });
        var alt = img.replace(/<img.+alt(="([^"]+)")*.+>/, function($1, $2, $3) {
            return $3;
        });
        title = title !== img && title ? title : (alt !== img && alt ? alt : "");
        return `<a rel=${page.title} href="${src}" title="${title}" data-fancybox="images">${img}</a>`;
    });

                page.content = page.content.replace(/<table class="table">(.+)<\/table>/, function(match, $1) {
                   $1 = $1.replace(/<br>/g, '');
                   return `<table >${$1}</table>`;
                });            %>
          <!--fix table 注意要放在page.content前面。-->

          <%- page.content %>

        </div>

  
        <div class="pagination">
          <div class="content-wrapper">
            <%
              function findAdjacent (direction) {
                var pagePaths = _.flatten(_.map(theme.sidebar, function(vals) { 
                  vals = _.map(vals,function(val){
                    return isEN ? 'en/'+val : val;
                  })
                  return vals; 
                }));
                var pages = _.map(pagePaths, function (val) { return site.pages.findOne({path: val + '.html'}); });
                var i = pages.length
                while (i--) {
                  if (pages[i] && pages[i].title === page.title) {
                    break
                  }
                }
                return direction > 0
                  ? pages[i + 1]
                  : pages[i - 1]
              }
            %>
            <% var prev = findAdjacent(-1); if (prev) { %>
              <a class="link primary prev" href="<%- relative_url(page.path, prev.path) %>">
                <span class="subtitle-pagination">
                  <%- __('Prev') %>
                </span>
                <%- prev.title %>
              </a>
            <% } %>
            <% var next = findAdjacent(1); if (next) { %>
              <a class="link primary next" href="<%- relative_url(page.path, next.path) %>">
                <span class="subtitle-pagination">
                  <%- __('Next') %>
                </span>
                <%- next.title %>
              </a>
            <% } %>
          </div>
        </div>
        
        <% if(page.comments && theme.valine && theme.valine.enable ){ %>
          <div class="vcomment"></div>
          <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
          <script src="//unpkg.com/valine"></script>
          <script>
            var valine = new Valine();
            var path = window.location.pathname.replace('index.html','');
            var isEN = path.indexOf('en') > -1;
            path = isEN ? path.replace('en/','') : path;
            valine.init({
                el: '.vcomment',
                appId: '<%- theme.valine.appId %>',
                appKey: '<%- theme.valine.appKey %>',
                notify: <%- theme.valine.notify %>,
                placeholder: '<%- theme.valine.placeholder %>',
                avatar:'<%- theme.valine.avatar %>',
                path:path,
                lang: isEN ? 'en' : 'zh-cn',
                visitor:true
            })
          </script>
        <% } %>
      </div>

      
      <!--
      <div class="github">
        <% var cYear = new Date().getFullYear(); %>
        &copy; <%- config.sence %> - <%- cYear %> <br> Powered By <a href="https://ourfor.top">ourfor</a>.
      </div>
    </div>
    -->
    <footer class="footer_cust">
    
    <div class="footer_cust">
       <!--这部份不要了 
        <p align="center">
          <span>
          <a href="https://ourfor.top"><img src="https://img.shields.io/badge/Zip-%C2%A9%202015%20--%202018-orange.svg"></a>
            </span>
        </p>
       -->

        <p align=center>
            <span>
            <a href="https://ourfor.top"><img src="https://img.shields.io/badge/Designed%20by-ourfor-brightgreen.svg"></a>
            </span>
        </p>

    </div>
</footer>
